<!-- dni-lista.component.html -->
<div>
  <button (click)="cambiarEstado('A')">Mostrar Activos</button>
  <button (click)="cambiarEstado('I')">Mostrar Inactivos</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>DNI</th>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Código Verificación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dni of dnis">
      <td>{{ dni.id }}</td>
      <td>{{ dni.dni }}</td>
      <td>{{ dni.nombres }}</td>
      <td>{{ dni.apellidoPaterno }}</td>
      <td>{{ dni.apellidoMaterno }}</td>
      <td>{{ dni.codVerifica }}</td>
    </tr>
  </tbody>
</table>
